#!/usr/bin/env -S rc -e

# Until we're able to shift to using Chainlink (I don't understand their
# VRF product now), we'll use this approach to resolve the markets.

for(n in BOZO_PRIVATE_KEY BOZO_ENDPOINT BOZO_ADDR) if(~ $$n '') exit 2

fn rand_word {
	echo 0x`{dd if=/dev/urandom bs=1 count=32 status=none | xxd -p -c32}
}

cast send \
	--private-key $BOZO_PRIVATE_KEY \
	--rpc-url $BOZO_ENDPOINT \
	$BOZO_ADDR \
	'distributeRewards(uint256,address,uint256)' \
	0 \
	0x6221a9c005f6e47eb398fd867784cacfdcfff4e7 \
	`{rand_word}
